ion-content {
    ion-list {
        ion-item {
        }
        ion-item.apresentar-dados {
            display: flex;
            justify-content: center;
            align-items: center;
            .icone {
                width: 10%;
                // font-size: 1.5rem;
                // background-color: #ececec;
                // border-radius: 8px;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // padding: 0.4rem;
                // margin-right: 1rem;
            }
            .dado {
                width: 85%;
            }
            .acao {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10%;
                cursor: pointer;
                div {
                    border: dashed blue 1px;
                }
                .apresentar-senha {
                    // position: absolute;
                    // padding-right: 70px;
                }
                ion-icon{
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}

.apresentar-dados {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}