<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="redirecionarTelaCredencial()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <b>Detalhar</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="credencialModel as credencialModel">
    <ion-item>
      <ion-label>
        <h1 class="ion-text-center">{{credencialModel.descricao}}</h1>
      </ion-label>
    </ion-item>
    <ion-item class="apresentar-dados">
      <div class="icone">
        <ion-icon name="person-outline"></ion-icon>
      </div>
      <div class="dado">
        <ion-label>
          <h2>Usuário</h2>
          <p>{{ credencialModel.usuario }}</p>
        </ion-label>
      </div>
      <div (click)="copiarDados(credencialModel.usuario)" class="acao">
        <ion-icon name="copy-outline"></ion-icon>
      </div>
    </ion-item>
    <ion-item class="apresentar-dados">
      <div class="icone">
        <ion-icon name="key-outline"></ion-icon>
      </div>
      <div class="dado">
        <ion-label>
          <h2>Senha</h2>
          <p>* * * * * * * * *</p>
        </ion-label>
      </div>
      <div class="acao">
        <ion-icon name="copy-outline" (click)="copiarDados(credencialModel.senha)"></ion-icon>
        <!-- <ion-icon name="eye-outline" class="apresentar-senha"></ion-icon> -->
      </div>
    </ion-item>
    <ion-item *ngIf="credencialModel.link" class="apresentar-dados">
      <div class="icone">
        <ion-icon name="link-outline"></ion-icon>
        <!-- 
        <ion-icon name="link-outline"></ion-icon>
         -->
      </div>
      <div class="dado">
        <ion-label>
          <h2><i>Link</i></h2>
          <p>{{ credencialModel.link }}</p>
        </ion-label>
      </div>
      <div class="acao">
        <ion-icon name="arrow-redo-outline" (click)="abrirNavegadorExterno(credencialModel.link)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

</ion-content>