<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <b>Cadastrar Plataforma</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <div *ngIf="logoUrl" class="apresentar-logomarca-plataforma">
    <ion-avatar>
      <img [src]="logoUrl" (error)="logoUrl = null" alt="Logomarca da plataforma" />
    </ion-avatar>
  </div> -->

  <div *ngIf="true" (click)="cadastrarLogomarca()" class="apresentar-logomarca-plataforma">
    <img [src]="logoUrl" alt="Logomarca" *ngIf="logoUrl"/>
    <img src="../../../../assets/profile.png" alt="Logomarca" *ngIf="!logoUrl"/>
    <ion-icon name="camera-outline"></ion-icon>
  </div>

  <form [formGroup]="plataformaCadastrarFormulario" (ngSubmit)="create()">

    <div class="form-input">
      <ion-label
        [ngClass]="focusedField === 'nome' || plataformaCadastrarFormulario.get('nome')?.value ? 'label-focused' : ''">
        Nome da Plataforma
      </ion-label>
      <input type="text" (focus)="focusedField = 'nome'" (blur)="focusedField = ''" formControlName="nome" />
    </div>

    <div class="form-input">
      <ion-label
        [ngClass]="focusedField === 'url' || plataformaCadastrarFormulario.get('url')?.value ? 'label-focused' : ''">
        Endereço da Plataforma
      </ion-label>
      <input type="text" (focus)="focusedField = 'url'" (blur)="focusedField = ''" formControlName="url" />
    </div>

    <!-- <div (click)="cadastrarLogomarca()" class="logomarca-plataforma">
      <ion-icon name="cloud-upload-outline"></ion-icon>
      <h3>Upload da Imagem</h3>
    </div> -->

    <div class="form-input">
      <ion-button type="submit" expand="block" class="botao-primario">
        <ion-icon name="person-add-outline"></ion-icon>
        Cadastrar
      </ion-button>
      <ion-button type="submit" expand="block" fill="outline" class="botao-secundario">Cancelar</ion-button>
    </div>

  </form>

</ion-content>