@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
// @import "@ionic/angular/css/palettes/dark.always.css";
// @import '@ionic/angular/css/palettes/dark.system.css';
@import "@ionic/angular/css/palettes/dark.class.css";
@import url("./theme/fonts.scss");

* {
  font-family: "Gilroy";
}

ion-item {
  --inner-border-width: 0;
}

ion-button {
  text-transform: initial;
  font-weight: bold;
}

ion-item-option {
  border-radius: 12px !important;
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

ion-item-option[color="primary"] {
  --background: linear-gradient(135deg, #4e8cff, #3e6bff);
}

ion-item-option[color="danger"] {
  --background: linear-gradient(135deg, #ff4e4e, #ff1f1f);
}

ion-item-option:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
  transition: 0.2s;
}