ion-content {
    ion-list {
        ion-item-sliding {
            ion-item {
                ion-avatar {
                    width: 55px;
                    height: auto;
                }
            }
        }
    }
}