ion-content {
    ion-list {
        ion-item-sliding {
            ion-item-sliding {
                transition: transform 0.55s ease-out;
            }
            ion-item {
                ion-avatar {
                    width: 58px;
                    height: auto;
                    background-color: #ececec;
                    padding: 0.3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                }

                ion-icon {
                    font-size: 1rem;
                    color: #666666;
                }
            }
        }
    }
}